.CopadoBrasilContainer{ 
    background-image: url('/src/assets/campo.jpg');   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    width: 100%;
    z-index: 1000;
    position: relative;

}

.CopadoBrasilLayer{
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background: #f5f5f5;;
    opacity: 0.5;
    position: absolute
}

.CopadoBrasilTitulo {
    text-align: center;
    z-index: 2;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    margin-top: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
    background-color: rgba(255, 255, 255, 0.37); 
    width: 380px;
    height: 380px;
    border-radius: 50%;
         
}

.CopadoBrasilTitulo h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
    text-transform: uppercase;
}



.CopadoBrasilData{
    font-size: 12px;
    margin: 0px;
}

.CopadoBrasilTitulo p{
    font-size: 14px;
    margin: 3%;
}

.CopadoBrasilJogos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    z-index: 3;
}

.CopadoBrasilJogoscapsula{
    display: flex; 
    flex-direction: row;
}

.CopadoBrasilTimeEsquerda{
   display: flex; 
   flex-direction: column;
   background-color: rgba(255, 255, 255, 0.37); 
   width: 350px;
   height: 350px;
   margin-top: 60px;
   margin-left: 200px;
   margin-bottom: 30px;
   text-align: center;
 


}

.CopadoBrasilTimeEsquerda p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
   
}

.CopadoBrasilTimeEsquerda img {
    height: 80px;
    margin: 20px;
}

.CopadoBrasilTimeDireita{
    background-color: rgba(255, 255, 255, 0.37); 
    width: 350px;
    height: 350px;
    margin-top: 60px;
    margin-left: 800px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}

.CopadoBrasilTimeDireita img{
    height: 80px;
    width: 80px;
    margin: 20px;

}
.CopadoBrasilTimeDireita p {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;

}


.CopadoBrasilDestaque {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
   
}


